.boxAnimation {
    position: absolute;
    z-index: 3;
    min-height: 100vh;
    width: 100%;
    background-color: #f03e3e;
}


.svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
}