.header {
    background-color: white;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 2;

    .topHeader {
        position : relative ;
        width: 100%;
        height: 50px;
        background-color: white;
    }
    .bottomHeader {
        width: 100%;
        height: 50px;
        background-color: #f03e3e;

        display: flex;
        justify-content: center ;
        align-items: center;
       color: white;
       gap: 150px;

    }
    img {
        position: absolute;
        right:80%;
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
}
.topHeader  {
   display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    span {
        opacity: 0;
        font-family: Poppins, sans-serif;
        font-weight: bold;
        font-size: 20px;
        position: absolute;
        right: 70%;
    }
}

.header2 {
    background-color: white;
    height: 100px;
    width: 100%;
    .topHeader {
        position : relative ;
        width: 100%;
        height: 50px;
        background-color: white;
    }
    .bottomHeader {
        width: 100%;
        height: 50px;
        background-color: #f03e3e;

        display: flex;
        justify-content: center ;
        align-items: center;
       color: white;
       gap: 150px;

    }
    img {
        position: absolute;
        right:80%;
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
}
.topHeader  {
   display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    span {
        opacity: 0;
        font-family: Poppins, sans-serif;
        font-weight: bold;
        font-size: 20px;
        position: absolute;
        right: 50%;
    }
}