.box1Article {
    display: flex;
}
.boxImage {
width: 50vw;
height: 90vh;
border: 1px solid black;
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


}
.boxText {
    width: 50vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
}