.boxArt {
    height: 100vh;
}

.box1Article {
    display: flex;
    
}
.boxImage {
width: 50vw;
height: 90vh;
border: 1px solid black;
margin-top: 100px;
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


}
.boxText {
    width: 50vw;
    height: 90vh;
   
    gap: 20px;
    border: 1px solid black;
    margin-top: 100px;
}
.boxContact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px ;
    form {
        width: 50%;
    display: flex;
    flex-direction: column;
}}