

.boxOneArticle {
display: flex;

.boxImage {

    img {
        width: 50%;
        height: 100vh;
        object-fit: cover;

    }
}
}

.css-3urv0a-MuiGrid-root {
    margin-top: 150px;
}