@import url("./home.scss");
@import url("./animation.scss");
@import url("./header.scss");
@import url("./footer.scss");
@import url("./caroussel.scss");
@import url("./article.scss");

#root {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 150vh;
}


