@import url("./home.scss");
@import url("./animation.scss");
@import url("./header.scss");
@import url("./footer.scss");
@import url("./caroussel.scss");
@import url("./article.scss");
@import url("./onArticle.scss");

#root {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 150vh;
}


.box5 {
    position: absolute;
    z-index: -50;
    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    svg {
        height: 100px;
        width: 100px;
        color: #f03e3e;
        
    }
}

